/**/
/* datepicker */
/**/
.ui-datepicker {
	display: none;
	padding: 10px 12px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
	color: #666;
}
.ui-datepicker a {
	color: #404040;
}
.ui-datepicker-header {
	position: relative;
	margin: -10px -12px 10px;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: 15px;
	line-height: 27px;
	/* background-color: #eee; */
}
.ui-datepicker-prev, 
.ui-datepicker-next {
	position: absolute;
	top: 0;
	bottom: 0;
	display: block;
	width: 47px;
	height: 47px;
	font-size: 20px;
	line-height: 47px;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	background-color: #f7f7f7;
}
.ui-datepicker-prev:hover, 
.ui-datepicker-next:hover{
	background-color: #eee;
}
.ui-datepicker-prev {
	left: 0;
}
.ui-datepicker-next {
	right: 0;
}
.ui-datepicker-calendar {
	border-collapse: collapse;
	font-size: 13px;
	line-height: 27px;
}
.ui-datepicker-calendar th {
	color: #999;
}
.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
	display: block;
	width: 31px;
	margin: auto;
	text-decoration: none;
	color: #404040;
}
.ui-datepicker-calendar a:hover {
	background: rgba(0,0,0,.05);	
}
.ui-datepicker-calendar span {
	color: #bfbfbf;
}
.ui-datepicker-today a {
	font-weight: 700;
}
.ui-datepicker-calendar .ui-state-active {
	background: #026FC2;
	color: #fff;
	cursor: default;	
}
.ui-datepicker-calendar .ui-state-active:hover {
	background: #026FC2;
	color: #fff;
	cursor: default;	
}
.ui-datepicker-inline {
	border: 2px solid #e5e5e5;
	box-shadow: none;
}
.ui-datepicker-inline .ui-datepicker-header {
	line-height: 47px;
}
.ui-datepicker-inline .ui-datepicker-calendar {
	width: 100%;
}

/************************

	Order Styles

************************/

/* .template-order .delivery-date.drop-off .tabs .drop-off, .template-order .delivery-date.pick-up .tabs .pick-up, .template-account-order .delivery-date.drop-off .tabs .drop-off, .template-account-order .delivery-date.pick-up .tabs .pick-up {
	background:green;
	color:#ffffff;
} */

.template-order .delivery-date .tabs .drop-off span, .template-order .delivery-date .tabs .pick-up span, .template-account-order .delivery-date .tabs .drop-off span, .template-account-order .delivery-date .tabs .pick-up span {
	display:block;
}

.template-order .delivery-date.drop-off .tabs .drop-off span, .template-order .delivery-date.pick-up .tabs .drop-off span, .template-order .delivery-date.drop-off .tabs .pick-up span, .template-order .delivery-date.pick-up .tabs .pick-up span, .template-account-order .delivery-date.drop-off .tabs .drop-off span, .template-account-order .delivery-date.pick-up .tabs .drop-off span, .template-account-order .delivery-date.drop-off .tabs .pick-up span, .template-account-order .delivery-date.pick-up .tabs .pick-up span {
	display:none;
}

.template-order .calendars, .template-account-order .calendars {
	margin-bottom:30px;
}

.template-order .delivery-date .calendars #inline-start, .template-order .delivery-date .calendars #inline-finish, .template-account-order .delivery-date .calendars #inline-start, .template-account-order .delivery-date .calendars #inline-finish {
	display:none;
}

.template-order .delivery-date.drop-off .calendars #inline-start, .template-account-order .delivery-date.drop-off .calendars #inline-start {
	display:block;
}

.template-order .delivery-date.pick-up .calendars #inline-finish, .template-account-order .delivery-date.pick-up .calendars #inline-finish {
	display:block;
}

.template-order .delivery-date .calendars .overview, .template-account-order .delivery-date .calendars .overview {
	display: block;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.template-order .delivery-date.drop-off .calendars .overview, .template-order .delivery-date.pick-up .calendars .overview, .template-account-order .delivery-date.drop-off .calendars .overview, .template-account-order .delivery-date.pick-up .calendars .overview {
	display:none;
}